.footer {
    height: 14px;
    margin-right: 20px;
    background-clip: padding-box;
    white-space: nowrap;
    background-color: #fff;
    font-size: 8pt;
    line-height: 1;
}

.copyright-container {
   text-align: center;
}

.version-container {
  text-align: right;
}
