results.json
*.js
*.js.map
*.DS_Store
npm-debug.log*
main.js
main.js.map
.idea
node_modules
node
target
dist
.classpath
.settings
.project
.vscode
log.file.base_IS_UNDEFINED
coverage
.metadata
*.iml
package-lock.json
*.docx