@import './../../../assets/scss/partials/variables';

.rectangle {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  height: 140px;
  border-radius: 4px;
  background-color: rgba(242, 73, 101, .1);
  border-style: solid;
  border-color: $gfs-red;
}

.error-title {
  height: 21px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 11px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-18;
  font-weight: 500;
  text-align: left;
  color: $gfs-red;
}

.error-block {
  width: 657px;
  height: 48px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-16;
  line-height: 1.5;
  text-align: left;
  color: $gfs-red;
}
