@import './../../../../assets/scss/partials/global';
@import './../../../../assets/scss/partials/mixins';
@import './../../../../assets/scss/partials/variables';

.vertical-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

#radio-group {
  float: left;
}

#radio-group label {
  float: left;
  width: 32px;
  line-height: 30px;
  height: 30px;
  border: 1px solid $gfs-gray-3;
  background-color: $gfs-white;
  color: $gfs-stepper-black2;
}

#radio-group label span {
  text-align: center;
  font-size: $gfs-fontsize-14;
  padding: 0;
  height: 29px;
  display: block;
}

#radio-group label input {
  position: absolute;
  top: -20px;
}

#radio-group input:checked + span {
  background-color: $gfs-lt-navy-blue;
  color: $gfs-white;
}

input[type="radio"] {
  display: none;
}

.info-icon {
  width: 15px;
  height: 15px;
}

.toggle-helper {
  position: relative;
  top: 13px;
}

.align-save {
  margin-left: auto;
  margin-top: 3px;
}

.save-markup {
  margin-top: -5px;
  margin-left: 10px;
  margin-right: unset;
  width: 134px;
  height: 36px;
  border-radius: 4px;
}

.save-markup:disabled {
  cursor: default;
}

.copy-design{
  width: 91px;
  height: 24px;
  border-radius: 4px;
  background-color: $gfs-lt-navy-blue;
  font-size: $gfs-fontsize-14;
  text-align: center;
  line-height: 0.29;
  position: relative;
  margin-right: 40px;
}

.tooltip-box {
  width: 220px;
  background-color: $gfs-label-black;
  position: absolute;
  left: -210px;
  padding: 10px 10px 20px;
  top: 0;
}

.tooltip-label {
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-14;
  font-weight: bold;
  text-align: left;
  padding: 10px 0;
}

.tooltip-body {
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-12;
  text-align: left;
}

.horizontal-line {
  @include horizontal-separator(100%);
  box-sizing: border-box;
  margin-left: 0;
  margin-top: -5px;
  margin-bottom: 16px;
}

.align-warning {
  margin-top: 7px;
  padding-right: 15px;
}

.warning-text {
  height: 16px;
  font-size: $gfs-fontsize-14;
  font-style: italic;
  line-height: 1.14;
  text-align: left;
  color: $gfs-gray-2;
  padding-right: 5px;
}

.warning-text-item-level {
  @extend .warning-text;
  font-size: $gfs-fontsize-16;
}

.item-level-title {
  height: 24px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-18;
  font-weight: 500;
  text-align: left;
  color: $gfs-stepper-black;
  margin-bottom: 5px;
}

.item-level-desc {
  width: 637px;
  height: 24px;
  font-size: $gfs-fontsize-16;
  line-height: 1.5;
  text-align: left;
  color: $gfs-label-black;
}

.btn-item-level {
  margin-left: 20px;
  width: 200px;
  height: 36px;
  border-radius: 4px;
  background-color: $gfs-header-color;
  color: $gfs-stepper-black;
  border: none;
}

.btn-subgroup {
  @extend .btn-item-level;
}

.btn:disabled {
  opacity: .65;
}

.error-message {
  height: 24px;
  font-size: $gfs-fontsize-16;
  text-align: left;
  color: $gfs-red;
}

.danger-icon {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.modal-dialog {
  max-width: 640px;
  border-radius: 2px;
  margin: 140px auto;
}

.modal-content {
  background-color: $gfs-white-2;
}

.modal-header {
  padding: 20px;
  border-bottom: unset;
  padding-bottom: 10px;
}

.modal-title {
  width: 95%;
  height: auto;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-18;
  font-weight: 500;
  text-align: left;
  color: $gfs-stepper-black;
  overflow-wrap: break-word;
}

.modal-body {
  border-top: 1px solid $gfs-gray-4;
}

.modal-content-markup-type {
  border-top: 1px solid $gfs-gray-4;
  padding: 6px;
}

.modal-header-unset-bottom {
  border-bottom: unset;
  margin-left: unset;
  margin-bottom: -20px;
  padding-bottom: unset;
  padding: 15px;
}

.modal-body-unset-top{
  border-top: unset;
  line-height: 110%;
}

.example-per-case-and-sell-unit{
  width: 48%;
}

.example-per-weight{
  width: 50%;
}

.markup-error{
  border: $gfs-red solid 1px;
}

.view-mode-radio {
  opacity: .6;
  pointer-events: none;
}
